$primary:  #FF7300;
$Success: #2ecc71;
$Light: #f5f6fa;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

#App {
    min-height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;

    footer{
        margin-top: auto;
    }
}

span {
    color:  #FF7300;
}

#banner {
    object-fit: cover;
}

figcaption{
    position: absolute;
    bottom: 200px;
    left: 30vw;
    margin: 0;
    color: white;
}